html {
    font-size: 16px;
    font-family: 'Adelle sans',sans-serif;
}

@media screen and (min-width: 480px) and (max-width: 1000px) {
    html { font-size: 15px; }
}

@media screen and (max-width: 480px) {
    html { font-size: 14px; }
}

body {
    background: #e6e6e6;
}

#root  {
    text-align: center;
    position: relative;
}

.category {
    position: relative;
}

h1, h2, p {
    text-align: left;
}

.game {
    display: inline-block;
    margin-bottom: 1em;
    position: relative;
    padding: 0 2.5%;
}

.game .img-container {
    background: #fff;
    position: relative;
    border-radius: 50%;
    width: 100%;
    margin-bottom: 5px;
}

.game img {
    width: 100%;
    display: block;
}

.filter-form {
    position: relative;
    padding: 10px 0;
    display: flex;
}

.filter-form > * {
    position: relative;
    flex-grow: 1;
}

.filter-form .filter-container  > *{
    width: 50%;
    background: #fff;
    border: none;
}

.filter-form .search-container .flex-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}


.filter-form .search-container .flex-container > *{
    border: none
}

.filter-form .search-container .flex-container input {
    flex-grow: 1;
    min-width: 0;
}

.filter-form .search-container .flex-container  button {
    background: #3abd74;
    color: #fff;
}

.filter-container > *, .search-container .flex-container > * {
    padding: 5px;
    border-radius: 999px;
}

.filter-form .search-history {
    position: absolute;
    z-index: 100;
    border: 1px solid #444;
    border-radius: 5px;
    background: #fff;
    width: 100%;
    margin-top: 1px;
}

.search-history div {
    cursor: pointer;
    padding: 5px 10px;
    text-align: left;
}

.search-history div:hover {
    background: #4449;
}

@media screen and (min-width: 320px) and (max-width: 768px){
    .filter-form {
        width: 100%;
        flex-direction: column;
    }
    .filter-form > * {
        margin: 10px 0;
    }

    .filter-container > *, .search-container .flex-container > * {
        padding: 5px;
    }

    .game {
        width: 40%;
    }
}
@media screen and (min-width: 768px) {
    .filter-form {
        flex-direction: row;
        margin: 0 -10px;
        width: auto;
    }

    .filter-form > * {
        margin: 10px;
    }

    .filter-container > *, .search-container .flex-container > * {
        padding: 15px;
    }
}

@media screen and (max-width: 1200px) {
    #root {
        margin: 0 12%;
    }

    * {
        font-size: 1rem;
    }

    h1 {
        font-size: 2.25rem;
    }

    h2 {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1200px) {
    #root {
        margin: 0 20%;
    }

    .game {
        width: 20%;
    }
}

